
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.roundedimage {
    border-radius: 50%;
    filter: grayscale(12%)
}

table {
    width: 80%;
    border: 1px solid;
}

table, th, td {
    border: 1px solid;
    width: 80%
}

th, td{
    padding-left: auto;
    padding-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Container holding the image and the text */
/* .container {
  display: block; 
  text-align: center;
  color: rgb(173, 128, 215);
  font-size: medium;
  border: 1px black solid;
  height: 200px;
  width: 100%;
  margin-bottom: 100px;
} */
.container {
  position: relative;
  width: 40%;
  float: right;
  text-align: center;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.overlay h3 {
  color: black;
  font-weight: 600;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  padding: 5px 15px;
  text-align:center;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.video:hover .overlay {
  opacity: 1;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
    object-fit: cover;
  -o-object-position: center;
    object-position: center;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}



/* Centered text */
.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: auto;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.centered:hover {
  color: black;
}

#footer {
    color: #000;
    text-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 1);
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-weight: bold;
    bottom: 0;
    position: fixed;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: mediumseagreen;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
  }

  .navbar text{
    color: lightgrey
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }

.row {
  margin-bottom: 30px;
  height: 200px;
}
  .column {
    float: left;
    left: 30%;
    width: 20%;
    color:lavender;
    height: 80%;
    padding: 10px;
    position: relative;
  }
  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  /* container */
.two-columns {
  display:flex;
  width:100%;
  padding:1rem;
  color: lavender;
}

.column-images {
  width: 100%;
  height: 100%;
}


